<!-- start custom scripts to be placed at the bottom of the page -->

<script src="assets/js/sliding-scroll.min.js"></script>
<script>
  function isElement(element) {
    return element instanceof Element || element instanceof HTMLDocument;
  }

  function goToQuemSomos(element) {
    const el = isElement(element)
      ? element
      : document.querySelector("#quem-somos");

    smoothScrollToElement(el, {
      duration: 500,
      easingFunction: EASING_FUNCTIONS.fastInSlowOut,
      offsetTop: -70,
    });
  }

  function logoParallax(event) {
    const scrollLock =
      event && (event.type === "scroll" || event.type === "touchmove");
    const initialRotation = 30;
    const initialTranslation = -85;
    let distanceToElement =
      document.getElementById("somos-brasilidade").getBoundingClientRect().top -
      window.innerHeight;

    if (distanceToElement < 0 && window.innerWidth >= 768) {
      if (scrollLock) {
        if (window.innerWidth < 1070 && distanceToElement <= -660) return;
        if (window.innerWidth < 820 && distanceToElement <= -430) return;
      } else {
        if (window.innerWidth < 1070 && distanceToElement <= -660)
          distanceToElement = -660;
        if (window.innerWidth < 820 && distanceToElement <= -430)
          distanceToElement = -430;
      }

      const translationRate = window.innerWidth < 880 ? 0.125 : 0.08;
      const rotation = initialRotation + distanceToElement * 0.025;
      const translation =
        initialTranslation - distanceToElement * translationRate;
      $(".logo-parallax").css({
        transform: `rotate(${rotation}deg) translate(0, ${translation}px)`,
      });
    }
  }

  $("a[href*=\\#]").on("click", function (event) {
    const element = document.querySelector(this.hash);

    if (element) {
      event.preventDefault();
      goToQuemSomos(element);
      history.pushState(null, null, this.hash);
    }
  });

  $(".scroll-down").on("click", goToQuemSomos);

  document.addEventListener("DOMContentLoaded", function (event) {
    logoParallax();
    if (!location.hash) return;

    const element = document.querySelector(location.hash);
    goToQuemSomos(element);
  });

  $(window).scroll(logoParallax);
  $(window).on("touchmove", logoParallax);
  $(window).resize(logoParallax);
</script>

<!-- end custom bottom scripts -->
