---
---

@charset "utf-8";

@media (max-width: 1308px) {
  main {
    overflow: hidden;
  }
}

ol,
ul {
  margin-bottom: 0;
}

button:focus {
  outline: none;
}

figure {
  margin: 0;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 10px;
  right: 18px;
  color: #fff;
  background-color: #7f1710;
  padding: 0 2px;
  font-size: 85%;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3.3rem;
  color: #7f1710;
  font-weight: bold;
  font-family: "League Spartan";
  line-height: 1;
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 95%;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}

.scroll-down {
  position: absolute;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: transparent;
  color: #fff;
  width: 35px;
  height: 35px;
  display: none;
}

@media (min-width: 768px) {
  .scroll-down {
    display: block;
  }
}

.navbar-chulapa .navbar-nav .nav-link {
  color: #faf6f5;
}

.splash-chulapa-image {
  background-color: #7f1710;
  background-position-y: center;
  background-size: 120%;
  margin-top: -25px;

  h1,
  hr {
    display: none;
  }

  p {
    text-shadow: none;
  }

  .chulapa-subtitle {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: #7f1710;
    font-weight: 400;

    span {
      background-color: #fff;
    }
  }
}

.splash-chulapa p,
.splash-chulapa-image p {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .splash-chulapa-image {
    background-size: contain;
    margin-top: -50px;

    .chulapa-subtitle {
      bottom: 20px;
    }
  }

  .splash-chulapa p,
  .splash-chulapa-image p {
    font-size: 1.5rem;
  }
}

#quem-somos {
  .top-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
      margin: 0;
      max-height: 300px;
    }
  }

  h1 {
    align-self: end;
    display: flex;
    margin: 0 0 20px 0;
    text-decoration: underline;
  }

  .bottom-text {
    display: flex;
    margin-top: 20px;
    padding: 0 0 0 35px;
    list-style: none;
    flex-wrap: wrap;

    li {
      padding: 0 0 20px 0;
      counter-increment: muffins;
      position: relative;
      flex: auto;
      width: 100%;

      &::before {
        content: "0" counter(muffins);
        background-color: #7f1710;
        color: #fff;
        position: absolute;
        left: -35px;
        padding: 2px 5px;
        font-size: 85%;
      }
    }
  }
}

#somos-brasilidade {
  position: relative;
  flex-direction: column;

  figure {
    overflow: hidden;
    max-height: 300px;

    img {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
      margin-top: -40%;
    }
  }

  .texto {
    flex: 1;
    justify-content: center;

    h1 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      text-decoration: underline;
      text-align: center;
      font-size: 2.5rem;
    }

    p {
      padding-right: 0;
      margin-bottom: 0;
    }
  }

  .logo-parallax {
    position: absolute;
    display: none;
    width: 200px;
    right: 25px;
    top: 0;
    transform: rotate(30deg) translate(0, -85px);
  }
}

@media (min-width: 500px) {
  #somos-brasilidade {
    .texto {
      h1 {
        font-size: 3rem;
      }
    }
  }
}

@media (min-width: 600px) {
  #quem-somos {
    .top-img {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    h1 {
      width: min-content;
      margin: 0 0 -16px 0;
      text-decoration: none;

      &::before {
        content: "";
        width: 40px;
        background-color: #975538;
        margin-top: 4px;
        margin-right: 10px;
        margin-bottom: 16px;
      }
    }

    .bottom-text {
      margin-top: 40px;
    }
  }

  #somos-brasilidade {
    figure {
      img {
        margin-top: -30%;
      }
    }
  }
}

@media (max-width: 670px) {
  #somos-brasilidade {
    .texto {
      margin-left: 0 !important;
    }
  }
}

@media (min-width: 670px) {
  #somos-brasilidade {
    flex-direction: row;

    figure {
      overflow: auto;
      max-height: initial;

      img {
        object-fit: initial;
        width: auto;
        height: auto;
        margin-top: 0;
        max-height: 550px;
      }
    }

    .texto {
      h1 {
        width: min-content;
        text-decoration: none;
        text-align: initial;
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-size: 3.4rem;
      }

      p {
        padding-right: 1.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  #quem-somos .bottom-text li {
    padding: 0 50px 20px 0;
    width: 50%;
  }
  #somos-brasilidade {
    .texto {
      justify-content: end;

      h1 {
        margin-top: 2rem;
      }
    }

    .logo-parallax {
      display: block;
    }
  }
}

@media (min-width: 880px) {
  #quem-somos .bottom-text {
    flex-wrap: nowrap;

    li {
      padding: 0 40px 0 0;
      width: 100%;
      flex: 1 1;
    }
  }

  #somos-brasilidade {
    .texto {
      justify-content: center;

      h1 {
        margin-top: 1rem;
      }

      p {
        padding-right: 2rem;
      }
    }
  }
}

@media (min-width: 915px) {
  #somos-brasilidade {
    figure img {
      max-height: 650px;
    }
  }
}

@media (min-width: 992px) {
  #quem-somos {
    h1 {
      font-size: 4rem;
    }
    .bottom-text li {
      padding: 0 50px 0 0;
      flex: 1 auto;
    }
  }

  #somos-brasilidade {
    .texto {
      h1 {
        font-size: 4rem;
      }
    }

    .logo-parallax {
      width: 240px;
      right: 0;
    }
  }
}

@media (min-width: 1030px) {
  #somos-brasilidade {
    .texto {
      p {
        padding-right: 2.5rem;
      }
    }

    .logo-parallax {
      width: 250px;
    }
  }
}

@media (min-width: 1120px) {
  #somos-brasilidade {
    .texto {
      p {
        padding-right: 5rem;
      }
    }

    .logo-parallax {
      width: 270px;
    }
  }
}

@media (min-width: 1200px) {
  #quem-somos .bottom-text li {
    padding: 0 70px 0 0;
  }

  #somos-brasilidade {
    .logo-parallax {
      width: 300px;
    }
  }
}

#quem-somos .bottom-text li {
  &::before {
    top: 7px;
  }

  &:last-of-type {
    padding: 0;
  }
}

@media (min-width: 768px) {
  #quem-somos .bottom-text li {
    &::before {
      top: 0;
    }

    &:last-of-type {
      padding: 0;
      order: 2;

      &::before {
        content: "02";
      }
    }

    &:nth-of-type(2) {
      order: 3;

      &::before {
        content: "03";
      }
    }

    &:nth-of-type(3) {
      order: 4;

      &::before {
        content: "04";
      }
    }
  }
}

@media (min-width: 880px) {
  #quem-somos .bottom-text li {
    &:last-of-type {
      order: 4;

      &::before {
        content: "04";
      }
    }

    &:nth-of-type(3) {
      order: 3;

      &::before {
        content: "03";
      }
    }

    &:nth-of-type(2) {
      order: 2;

      &::before {
        content: "02";
      }
    }
  }
}
