<img src="assets/moara-brasao.png" class="logo-background" />
<div class="texto">
  <h1>LIDERANÇA E PROTAGONISMO FEMININO</h1>
  <p>
    Prezamos pela liderança e protagonismo feminino a frente de nossas operações
    e temos uma equipe composta de mulheres:
  </p>
</div>

<div class="imagens d-flex">
  <div class="cartao mr-2">
    <img src="assets/fernanda.jpeg" alt="Fernanda" />
    <div class="cartao-texto mt-2 p-4">
      <h2>FERNANDA FURLANETTO</h2>
      <p class="pr-4">Coordenadora de exportações</p>
      <a
        href="https://www.linkedin.com/in/fernanda-furlanetto/"
        title="LinkedIn - Fernanda"
      >
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">LinkedIn</span>
      </a>
    </div>
  </div>

  <div class="cartao ml-2">
    <img src="assets/pryscilla.jpeg" alt="Pryscilla" />
    <div class="cartao-texto mt-2 p-4">
      <h2>PRYSCILLA ROLIM DE MOURA</h2>
      <p class="pr-4">Fundadora e Diretora</p>
      <a
        href="https://www.linkedin.com/in/pryscillarolimdemoura/"
        title="LinkedIn - Pryscilla"
      >
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">LinkedIn</span>
      </a>
    </div>
  </div>
</div>
